
@font-face {
    font-family: 'magielblack';
	src: url('fonts/Magiel-Black.ttf'); 
	src: url('fonts/Magiel-Black.otf');
	src: url('fonts/Magiel-Black.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lombard';
    src: url('fonts/Lombard-regular.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tagger';
    src: url('fonts/Tagger-Regular.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rewir';
    src: url('fonts/Rewir-Light.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cyrulikStencil';
    src: url('fonts/Cyrulik-Stencil.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cyrulikSharp';
    src: url('fonts/Cyrulik-Sharp.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Motor';
    src: url('fonts/Motor.ttf'); 
    font-weight: normal;
    font-style: normal;
}



body {
	margin: 0;
}

h1 {
	line-height: 1;
	margin: 0;
	font-family: 'magielblack', sans-serif;
	font-weight: normal;
}



h3 {
	color: black;
  	font-size: 24px;
  	margin-top: 20px;
}


a {
	color: black;
	transition: all 0.7s ease-in-out;

}

nav a {
	color: black;
	transition: all 0.5s ease-in-out;
}

header p {
	font-family: 'futura-pt';
	text-transform: none;
	color: #d68a00;
	bottom: .5em;
	line-height: 160%;
	font-size: 3em;
	position: absolute;
	text-align: center;
	transform-origin: 0 0;
}


a, a:hover {
	text-decoration: none;

}

a:hover {
	background: black;
	color: white;

}


.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	display: inline-block;
  }

  .navbar ul {
	list-style-type: none;
	display: inline-block;
  }

  .navbar li {
	display: inline-block;
	  
  }
  
  .navbar a {
	font-family: 'futura-pt', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	display: inline-block;
	color: black;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
	
  }
  
  .navbar a:hover {
	background: #d68a00;
	color: white;
	display: inline-block;

	}

	.logo {
		display: inline-block;
		width: 5em;
		height: 5em;
		background-size: Auto 1em;
		vertical-align: middle;
		margin-left: .7em;
		margin-right: .7em;
		
		
	}

	.logo-pic {
		display: inline-block;
		width: 5em;
		height: 5em;
		background-size: Auto 1em;
		vertical-align: middle;
		margin-left: .7em;
		margin-right: .7em;
	}

	
	
	/*	
	.audio-player {
		padding-left: 110px;
		padding-top: 5px;
	}

	.audio-player button.play {
			width: 60px;
			height: 60px;
			
			border: 0;
			background: #0c2231;
			color: white;
			font-size: 40px;
			border-radius: 100%;
			cursor: pointer; 
	}

*/
header h1 {
	font-family: 'magielblack';
	font-size: 9.5em;
	color: #d68a00;
	letter-spacing: 1px;
	margin-top: 1em;
	
}


header .tagline {
	color: white;
	text-transform: lowercase;
	font-size: 30px;
	font-weight: 400;
	margin-top: 4em;
}

header {
	height: 95vh;
	background-image: url("img/baner_hanba.svg");
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
  	position: relative;
  	overflow: hidden;
}


.line5 {
	padding-bottom: 1.8em;
}


.menago {
  background: #d68a00;
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

.menago p {
	color: white;
	font-family: 'lombard';
	margin: 0;

}

.menago h4 {
	font-family: 'futura-pt';
	color: white;
	font-size: 3.5em;
	margin: 0;
	
	
	
}

.menago h5 {
	font-family: 'futura-pt';
	color: white;
	font-size: 1em;
}


/* stopka !!!!!!!!!!!!!!!!!!!!! */
.footer-distributed{
	background-color: #0c2231;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding-top: 0.7em;
  	padding-bottom: 0.7em;
	padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: 'magielblack';
	font-size: 3.5em;
	margin: 0;
	padding-right: 1.5em;
	
}


.footer-contact {
	font-family: 'rewir';
	font-size: 1em;
	color: white;
	
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-family: 'rewir';

	font-size: .7em;
	
	padding-top: 5em;
	padding-bottom: 1em;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
	border: solid;
	margin: .3em;
}


.download {
	font-family: 'lombard';
	font-size: 2em;
	padding: 1em;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* responsive */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* koniec stopki !!!!!!! */

.arkady {
	font-family: 'lombard';
	font-size: 4.5em;
	margin-bottom: .3em;
	margin-top: 0;
}


.line3 {
	width: 330px;
	
}

.line4 {
	width: 500px;	
}

.koncerty h2 {
	font-family: 'cyrulikSharp'; 
	font-size: 4em;
	text-align: center;
}


.first-div {
	height: 100vh;
	background: #0c2231;
	margin-top: -70px;
	margin-bottom: -50px;
	z-index: 1;
}

.first-div h1 {
	font-family: 'cyrulikStencil';
	font-size: 15em;
	color: #f20c3e;
	text-align: left;
	margin-top: .2em;
	margin-left: .5em;
}

.first-div p {
	font-family: 'rewir';
	color: #d6e9f5;
	font-size: 1.5em;
	text-align: left;
	margin-top: 2em;
	margin-left: 2.5em;
	margin-right: 1.5em;
}

.first-div h2 {
	font-family: 'magiel';
	color: #d6e9f5;
	font-size: 2.4em;
	text-align: center;
	margin-top: .3em;
	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}
.second-div {
	
	
	margin-bottom: 3em;
	z-index: 1;
}

.second-div h2 {
	font-family: 'lombard';
	font-size: 2.7em;
	text-align: center;
	margin-top: 1em;
}

.second-div p {
	font-family: 'cyrulikSharp';
	font-size: 1.5em;
	color: black;
	text-align: left;
	margin-left: 2.5em;
	margin-right: 2em;
}

.third-div {
	height: 90vh;
	background: #0c2231;
	margin-top: -100px;
	margin-bottom: -50px;
	z-index: 1;
}

.third-div p {
	font-family: 'cyrulikSharp';
	font-size: 2.4em;
	color: white;
	text-align: left;
	margin-left: 2.5em;
	margin-right: 2em;
}

.fourth-div p {
	font-family: 'rewir';
	font-weight: 900;
	margin: 0;
	padding-bottom: 6em;
}

.red-space {
	height: 20vh;
	background-image: url("img/red-back.svg");
	width: 100%;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
	overflow: hidden;
}

.band h2 {
	font-family: 'cyrulikSharp';
	text-align: center;
	font-size: 4em;
	margin: 1em;
	margin-top: 0;
}

.zbuntowana {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	/*border-bottom: 8px solid black;
	border-top: 8px solid black;*/
	margin-top: 0;
}

.Andrzej {
	font-family: 'cyrulikSharp';
}

.Ignacy {
	font-family: 'tagger';
}

.Adam {
	font-family: 'lombard';
}

.list {
	list-style: none;

}

.list li {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-bottom: 1px solid lightgrey;
}



.hanba_cover {
	background-image: url("img/hanba_cover.jpg");
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
  	padding: 23em;
	overflow: hidden;
	  
  	
}

.hanba_cover::before {
	
	position: absolute;
	z-index: -1;	

}

.concert {
	background-image: url("img/Off.jpg");
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
  	padding: 23em;
	overflow: hidden;
	  
  	
}

.concert::before {
	
	position: absolute;
	z-index: -2;	

}

.teledysk {
	background-image: url("img/teledysk.jpg");
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
  	padding: 23em;
	overflow: hidden;
	  
  	
}

.teledysk::before {
	
	position: absolute;
	z-index: -2;	

}


img {
	width: 100%;
}

.buy {
	width: 20%;
	margin-top: 5%;
	
}
.list {
	list-style: none;
}

.list li {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid darkgrey;
}

.list h1 {
	font-family: 'lombard';
	margin-bottom: -10px;
}

.list p {
	font-family: 'rewir';
	margin: 0;
}

.header-koncerty {
	height: 20vh;
	background-image: url(" ");
	background-size: cover;
	text-align: center;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
	overflow: hidden;
}

.galeria {
	height: 40vh;
	background-image: url("img/header_galeria.svg");
	background-size: cover;
	text-align: center;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
	overflow: hidden;

}

.youtube-space {
	margin-bottom: 5em;
}

.muzyka {
	height: 20vh;
	background-image: url(" ");
	background-size: cover;
	text-align: center;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-attachment: fixed;
	overflow: hidden;
}

.space-music {
	margin-bottom: 5em;
}

.disc-header {
	font-family: 'rewir';
	font-size: 3em;
	padding-top: .5em;
	
}

.dics-description {
	font-family: 'rewir';
	font-size: 1em;
	padding-bottom: 1em;

}

.disc-list {
	list-style: none;
}

.disc-list li {
	font-family: 'futura';
	font-size: 1.1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}

.hide-cd-button {
	font-family: 'rewir';
	font-size: 1em;
	color: white;
	background: red;
	padding: .3em;

}

.songs-list {
	font-family: 'rewir';
	font-size: 1em;
}

.song-title {
	font-family: 'futura';
	
}

.song-author {
	color: grey;
}


/* tabelka - koncerty */
  
.container-table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  

  .title-city {
    font-family: 'cyrulikSharp';
	font-size: 1.7em;
	
  }

  .concert-place {
	  font-family: 'rewir';
	  font-size: 1.1em;
	  padding-top: .7em;
	  padding-bottom: .7em;
	  
  }

  .bilet {
      color: white;
      background: #d68a00;
	  padding: .3em;
      text-align: center;
      font-family: 'rewir';
  }

  .link-buy {
      text-decoration: none;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .responsive-table .table-row {
	background-color: #ffffff;
	border-bottom: 4px solid black;
    
  }


  .responsive-table .col-1 {
    flex-basis: 30%;
  }

  .responsive-table .col-2 {
    flex-basis: 50%;
  }
  
  .responsive-table .col-3 {
    flex-basis: 20%;
  }


@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait)  {
   body {
    font-size: 1em;
      display: 100%;

}

header h1 {
	font-size: 5em;
}

header a {
	font-size: .9em;
}



nav {
	background: white;
	padding-bottom: .5em;
	padding-top: .5em;
}



.socialmedia {
	display: none;
}

}

/*cd-discography slider*/


.song {
	display: none;
}

li {
	cursor: pointer;
}

.active {
	display: block;
}

 /* tabelka - koncerty */

 @media all and (max-width: 767px) {
    
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      
    }
    
  }